@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

@*Navegación*@
<nav aria-label="breadcrumb" m-3>
    <ol class="breadcrumb">
        <li class="breadcrumb-item active" aria-current="page">Página principal</li>
    </ol>
</nav>

@*Botones*@
<div class="d-flex justify-content-between">
    <a class="btn btn-primary btn-lg btn-block" asp-page="/Privacy" tabindex="-1" role="button">Administrador</a>
    <a class="btn btn-primary btn-lg btn-block" asp-page="/InfoCliente" tabindex="-1" role="button">Empleado</a>
</div>

